.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    line-height: 3rem;
    margin: 5rem;
    font-family: var(--fonte--secundaria);
    
}

.container__title{
    color: #76314B;
    font-weight: 700;
}

.container__title--list {
    list-style-type: disc;
}

.subtittle__list--item {
    color: #6a6260;
}

.strong__word {
    font-weight: 600;
}
